{{#if user}}
<nav class="#5c6bc0 indigo lighten-1 z-depth-2">
    <div class="nav-wrapper container">
        <a href="/dashboard" class="brand-logo black-text">welcome! {{user.fullname}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/dashboard/logout" class="btn waves-effect waves-light orange">logout</a></li>
        </ul>
    </div>
</nav>
{{else}}
<nav class="orange z-depth-2">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Bootstrap Themer</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/dashboard/login" class="btn waves-effect waves-light #d84315 deep-orange darken-3">Login</a>
            </li>
            <li><a href="/dashboard/register"
                    class="btn waves-effect waves-light #d84315 deep-orange darken-3">Register</a></li>
        </ul>
    </div>
</nav>
{{/if}}