<div class="orange lighten-4 center" style="padding: 5rem 10rem">
    <h1>Bootstrap Themer</h1>
    <p>Download free bootstrap 10000+ themes</p>
</div>
<div class="container">
    <div class="row">
        {{>themes}}
    </div>
</div>